body {
  margin: 0;
  padding: 0;
  font-family: "Calibri", "Helvetica", "Arial", sans-serif;
  font-size: 1rem;
  font-size-adjust: 0.46;
  /* background-color: thistle; */
}
.page {
  width: 8.5in;
  height: 11in;
  /* background-color: tomato; */
}
table {
  height: 100%;
  border-collapse: collapse;
}
td{
  padding: 20px;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}
h1, h2{
  margin: 0;
  margin-bottom: 10px;
}
p{
  margin: 0;
}
.col-1 {
  width: 35%;
  vertical-align: top;
  padding-left: 30px;
  padding-right: 30px;
}
.col-2 {
  width: 65%;
  vertical-align: top;
}
.my-info {
  background-color: #f4d283;
}
.my-info ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 0.9rem;
}
.my-info li {
  padding-bottom: 7px;
}
.my-info li:last-child {
  padding-bottom: 0;
}
.my-info i {
  font-size: 0.9rem;
}
.summary {
  background-color: #fdf6e6;
}
.summary p{
  line-height: 1.6rem;
  margin-bottom: 0;
}
.skills {
  font-size: 1.1rem;
  background-color: #fbedcd;
}
.skills ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.skills li {
  padding-bottom: 8px;
}
#skills{
  margin-bottom: 10px;
}
#soft-skills {
  border-top: 1px solid #000;
  padding-top: 20px;
}
#duties p span {
  display: inline-block;
  margin-right: 10px;
  font-weight: bold;
}
.history section{
  font-size: 1rem;
}
.history ul {
  padding-left: 20px;
}
.history li{
  padding-bottom: 2px;
}
.education{
  margin-top: 20px;
}